<section class="section has-text-white has-text-centered dashboard">
  <div class='new_user'>
  <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: 'label' %>
        <div class="control has-icons-left has-icons-right">
          <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'input is-danger', placeholder: 'user@sample.com' %>
          <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-exclamation-triangle"></i>
          </span>
        </div>
        <p class="help is-danger">This email is invalid</p>
      </div>

      <div class="field">
        <%= f.label :password, class: 'label' %>
        <p class="control has-icons-left">
          <%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field" id='remember'>
          <%= f.check_box :remember_me, class: 'label' %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <br>
      <div class="field">
        <div class="actions">
          <%= f.submit "Log in", class: 'button is-link is-primary' %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <%= render "devise/shared/links" %>
</section>
